<link rel='stylesheet' href='https://static.fmh.de/components/gallery.css'>
<script defer src='https://static.fmh.de/components/gallery.js'></script>
<main class="layout">
  <section class="layout__3">
    <h1 class="title">Finanz-Award {{itemData.volume.year}}</h1>
    <div id="gallery"
      data-year="{{itemData.volume.year}}"
      data-award="finanz+award"></div>
      <p>&nbsp;</p>
    {{{textile itemData.description}}}
    <a
      href="https://auszeichnungen.fmh.de/finanz-award/{{
        itemData.volume.year
      }}/preistraeger"
      class="finanz-award__laureates-link"
      >Die Preisträger {{ itemData.volume.year }}</a>
  </section>
  <section class="layout__4">
    <h3 class="title" style="text-align:center;"><a href="/finanz-award/{{itemData.volume.year}}">Finanz-Award {{itemData.volume.year}}</a></h3>
    <img
      title="Finanz-Award {{ this.volume.year }}"
      class="finanz-award__annual-seal"
      width="300"
      height="300"
      loading="lazy"
      src="https://auszeichnungen.fmh.de/commendations/images/{{
        itemData.id
      }}/medium/{{fileext itemData.image_file_name 'png' }}"
      /></a>
      <p>&nbsp;</p>
      <p class="coop" style="text-align: center;">
        <span style="text-align:center;" class="with">Die Verleihung des Finanz-Award ist eine Kooperation von:</span>
        <br/><br/>
        <a href="/partner/n-tv"><img style="max-height: 30px;width: auto;" src="https://auszeichnungen.fmh.de/publications/images/1/thumb/n-tv.png" /></a>&nbsp;
        <a href="https://auszeichnungen.fmh.de/partner/deutsches-institut-fuer-servicequalitaet"><img style="max-height: 30px;width: auto;" src="https://auszeichnungen.fmh.de/publications/images/7/thumb/Logo-DISQ-klein.png" /></a>&nbsp;
        <a href="/partner/fmh-finanzberatung"><img style="max-height: 30px;width: auto;" src="https://auszeichnungen.fmh.de/publications/images/2/thumb/RZ_FMH_siegel.png" /></a>&nbsp;
      </p>
      <a
        href="https://auszeichnungen.fmh.de/finanz-award/{{
          itemData.volume.year
        }}/preistraeger"
        class="finanz-award__laureates-link"
        >Die Preisträger {{ itemData.volume.year }}</a>
  </section>
  <hr class="layout__1 layout__separator" />
  <section>
  </section>
</main>
