<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width,initial-scale=1,maximum-scale=3,user-scalable=yes"/>
    <meta name="description" content="Die Zinsen">
    <meta name="author" content="John Galt">
    <!-- set by contentFor 'head' on page -->
    <link href="/css/index.css" rel="stylesheet" />
    <script src="/scripts/index.js"></script>
    <title>{{{ block 'head:title' }}}</title>
  </head>
  <body class="dm-page">
    <header class="dm-page__header">
      <h1 class="dm-page__title">der-markt.com</h1>
    </header>
    <nav class="dm-nav">
      <ul class="dm-nav__list">
        {{#each menu}}
          <li class="dm-nav__item">
            <a
              href="{{ this.url }}"
              title="{{{ this.label }}}"
              class="dm-nav__link {{this.key}}"
              ><span>{{{ this.label }}}</span></a
            >
          </li>
        {{/each}}
      </ul>
    </nav>
    {{{body}}}
    <footer class="dm-footer">
      der-markt.com - Michael Kastner<br/>
      Berliner Strasse 3<br/>
      D-65439 Flörsheim<br/>
      Telefon:  +49 (0)6145 / 938581<br/>
      E-Mail: <a href="mailto:kastner@der-markt.com"
        class="dm-link">
        kastner@der-markt.com
      </a><br/> 
    </footer>
  </body>
</html>

