<section class="layout">
  {{#each data.awards.docs}}
  <section class="layout__1">
    <h1>{{ this.name }}</h1>
    {{{textile this.description}}}
  </section>
  {{#each this.commendations.docs}}
  <section class="layout__4 finanz-award__annual-box">
    <h2 class="finanz-award__annual-title">
      <a href="https://auszeichnungen.fmh.de/finanz-award/{{
        this.volume.year
      }}/preistraeger">Finanz-Award {{ this.volume.year }}</a>
    </h2>
    <a href="https://auszeichnungen.fmh.de/finanz-award/{{
        this.volume.year
      }}/preistraeger"><img
      title="Finanz-Award {{ this.volume.year }}"
      class="finanz-award__annual-seal"
      width="128"
      height="128"
      loading="lazy"
      src="https://auszeichnungen.fmh.de/commendations/images/{{
        this.id
      }}/small/{{fileext this.image_file_name 'png' }}"
      /></a>
    <a
      href="https://auszeichnungen.fmh.de/finanz-award/{{ this.volume.year }}"
      class="finanz-award__annual-link"
      >Mehr zum Finanz-Award {{ this.volume.year }}</a
    >
    <a
      href="https://auszeichnungen.fmh.de/finanz-award/{{
        this.volume.year
      }}/preistraeger"
      class="finanz-award__annual-link"
      >Die Preisträger {{ this.volume.year }}</a
    >
  </section>
  {{/each}}
  {{/each}}
</section>
